<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 30px auto;">
  <tr>
    <td style="border-radius: 4px; background-color: {{#if buttonColor}}{{buttonColor}}{{else}}#1a73e8{{/if}};">
      <a href="{{url}}" target="_blank" class="button" style="display: inline-block; padding: 14px 32px; font-size: 16px; font-weight: 600; text-decoration: none; color: #ffffff; border-radius: 4px;">{{text}}</a>
    </td>
  </tr>
</table>